# createUser.config
# Data file for program createUser.pl-v3.06

# Path to icommands
I	/opt/iRODS/iRODS/clients/icommands/bin

# Path to createInbox script
C	/opt/iRODS/iRODS/server/bin/cmd/createInbox.sh

# Hostname to use in outgoing email (default to local hostname)
#H	irods.your.site

# Master iRODS server to talk to in createUser script. (Changing a password
# does not work with a slave server).  
# 
# Default: talk to local iRODS server as defined in the rods account
# environment.
#M irods.master.site

# Optional email address for notifications
A	help@bestgrid.org

# Accept DNs which start with these strings; they include a Shared Token
S	/DC=au/DC=org/DC=arcs/DC=slcs/
S	/DC=nz/DC=org/DC=bestgrid/DC=slcs/

# Accept DNs which start with these strings; they don't include a Shared Token
N	/C=AU/O=APACGrid/OU=
N       /C=NZ/O=BeSTGRID/OU=

# Strings we recognise as (prefix) courtesy titles; 1st match will be recognised
T	Mr
T	Ms
T	Mrs
T	Miss
T	Dr
T	Prof
T	Assoc Prof
T	Professor
